<h4>Edit Project</h4>
<br>
<div class="row">
  <form action="/projects" method="post" class="col s12">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="project[user_id]" value="<%= current_user[:id] %>">
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" name="project[name]" value="<%= @project.name %>" class="validate">
        <label for="name">Project Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="description" class="materialize-textarea" name="project[description]" value="<%= @project.description %>"><%= @project.description %></textarea>
        <label for="description">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="web_link" type="text" name="project[website_link]" class="validate" value="<%= @project.website_link %>">
        <label for="web_link">Website Link</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="github_link" type="text" name="project[github_link]" class="validate" value="<%= @project.github_link %>">
        <label for="github_link">GitHub Link</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="blog_link" type="text" name="project[blog_link]" class="validate" value="<%= @project.blog_link %>">
        <label for="blog_link">Blog Link</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="video_link" type="text" name="project[video_link]" class="validate" value="<%= @project.video_link %>">
        <label for="video_link">Video Link</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <select name="project[phase_num]">
          <option value="" disabled selected>Phase Number</option>
          <option value=1>Phase 1</option>
          <option value=2>Phase 2</option>
          <option value=3>Phase 3</option>
          <option value=4>Phase 4</option>
          <option value=5>Phase 5</option>
        </select>
        <label>Project Phase</label>
      </div>
    </div>
    <button type="submit" class="waves-effect waves-light btn-small cyan accent-4">Update</button>
  </form>
</div>

<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>