<h3>View Project</h3>

<div class="card blue-grey darken-1">
  <div class="card-content white-text">
    <span class="card-title"><%= @project.name %></span>
    <p>Project Phase: <%= @project.phase_num %></p>
    <p>Description: <%= @project.description %></p>
    <p>Website Link: <%= @project.website_link %></p>
    <p>GitHub Link: <%= @project.github_link %></p>
    <p>Blog Link: <%= @project.blog_link %></p>
    <p>Video Link: <%= @project.video_link %></p>
    <div class="card-action">
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>
</div>