<h4>View Project</h4>
<br>
<div class="card blue-grey darken-1">
  <div class="card-content white-text">
    <span class="card-title"><%= @project.name %></span>
    <p>Project Phase: <%= @project.phase_num %></p>
    <p>Description: <%= @project.description %></p>
    <p>Website Link: <a href="<%= @project.website_link %></p>"><%= @project.website_link %></p></a>
    <p>GitHub Link: <a href="<%= @project.github_link %>"><%= @project.github_link %></a></p>
    <p>Blog Link: <a href="<%= @project.blog_link %>"><%= @project.blog_link %></a></p>
    <p>Video Link: <a href="<%= @project.video_link %>"><%= @project.video_link %></a></p>
    <% if current_user.id == @project.user_id %>
      <br>
      <div class="card-action" style="padding-bottom: 0;">
        <a href="/projects/<%= current_user.id %>/edit">Edit</a>
        <a href="/projects/delete">Delete</a>
      </div>
    <% end %>
  </div>
</div>