<h4 class="btn-flat cyan accent-4 white-text"><i class="fa fa-code" aria-hidden="true"></i>&nbsp;&nbsp;View Project</h4>
<br>
<div class="card blue-grey darken-1">
  <div class="card-content white-text">
    <span class="card-title"><%= @project.name %></span>
    <p>Project Phase: <%= @project.phase_num %></p>
    <p>Description: <%= @project.description %></p>
    <p>Website Link: <a href="<%= @project.website_link %></p>"><%= @project.website_link %></p></a>
    <p>GitHub Link: <a href="<%= @project.github_link %>"><%= @project.github_link %></a></p>
    <p>Blog Link: <a href="<%= @project.blog_link %>"><%= @project.blog_link %></a></p>
    <p>Video Link: <a href="<%= @project.video_link %>"><%= @project.video_link %></a></p>
  </div>
</div>
<% if current_user.id == @project.user_id %>
  <form action="/projects/<%= @project.id %>" method="post">
    <a href="/projects/<%= @project.id %>/edit" class="btn-small cyan accent-4">Edit</a>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete" class="btn-small red white-text">
  </form>
<% end %>
